* {
  line-height: 1;
  box-sizing: border-box;
}
/*NAV BAR*/
header {
  position: fixed;
  width: 100%;
}

.nav-bar {
  height: 150px;
  display: flex;
  flex-direction: column;
  background-color: #202446;
}

.top-nav {
  height: 75px;
  width: 100%;
}

.profile-nav {
  float: right;
  margin: 5px 5px 0 0 ;
  position: relative;
  width: 190px;
  height: 40px;
}

.profile-icon {
  position: absolute;
  top: 10px;
  height: 18px;
  width: auto;
  display: inline-block;
}

.user-name {
  position: absolute;
  left: 25px;
  display: inline-block;
  font-size: 80%;
  color: #F33F38;
}

.down-arrow {
  background-image: url(assets/icons/down-arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 13px;
  right: 35px;
  height: 16px;
  width: 16px;
  display: inline-block;
}

.down-arrow:hover {
  background-image: url(assets/icons/down-arrow-hover.svg);
}

.bottom-nav {
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-icon {
  height: 36px;
  width: auto;
  display: inline-block;
}

.h1-container {
  display: flex;
  justify-content: space-between;
  height: 75px;
  width: 400px;
}

h1 {
  font-family: "Lora";
  font-weight: 400;
  display: inline-block;
  color: #E7E8FA;
  text-transform: uppercase;
}

.capitol-icon {
  height: 65px;
  width: auto;
  display: inline-block;
  margin-right: 30px;
}

li {
  display: inline-block;
  width: 170px;
  text-transform: uppercase;
  position: relative;
  height: 30px;
  /*border: 1px solid yellow;*/
}

.nav-icon {
  position: absolute;
  top: 3px;
  left: 3px;
  height: 20px;
  width: auto;
}

.nav-icon-text {
  position: absolute;
  top: -10px;
  left: 30px;
  display: inline-block;
  color: #a1a1a1;
}

.nav-icon-text:hover {
  color: #e2e2e2;
}

#walk-talk {
  margin-left: -20px;
  background-image: url(assets/icons/walk-and-talk.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 22px;
}

#walk-talk p {
  color: #e2e2e2;
}

#what-is-next {
  background-image: url(assets/icons/what-is-next.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 22px;
}

#what-is-next:hover {
  background-image: url(assets/icons/what-is-next-hover.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 22px;
}

#full-lid {
  background-image: url(assets/icons/full-lid.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 22px;
}

#full-lid:hover {
  background-image: url(assets/icons/full-lid-hover.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 22px;
}

/*BOTTOM CONTAINER*/

.bottom-container {
background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url(assets/img/flag.jpg);
padding-bottom: 40px;
}

.card-container {
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

h2 {
  margin: 0;
  padding: 175px 0 0 30px;
  font-size: 180%;
  color: #202446;
}

/*CARD*/
.card {
  display: inline-block;
  width: 23%;
  margin-top: 30px;
  /*margin-bottom: */
  box-shadow: 1.5px 3px 3px 1.5px #566782;
}

.card11,
.card12 {
  visibility: hidden;
}

.top-of-card {
  background-color: red;
  height: 125px;
  display: flex;
  justify-content: space-between;
}

.magnifying-glass-icon {
  height: 36px;
  width: auto;
  margin: 12px 0 0 12px;
  display: inline-block;
}

.top-right-corner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70px;
  height: 70px;
  align-items: center;
}

#toby, #sam, #potus, #josh, #leo, #flotus, #donna, #cj, #charlie, #amy {
  background-repeat: no-repeat;
  background-size: cover;
}

#flotus {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/img/flotus.jpg);
}

#flotus:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/img/flotus.jpg);
}

#amy {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/img/amy.jpg);
  transition: 1s;
}

#amy:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(assets/img/amy.jpg);
}

#charlie {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/img/charlie.jpg);
  transition-duration: 1s;
}

#charlie:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/img/charlie.jpg);
}

#cj {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/img/cj.jpg);
}

#cj:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/img/cj.jpg);

}

#donna {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/img/donna.jpg);
}

#donna:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/img/donna.jpg);
}

#josh {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/img/josh.jpg);
}

#josh:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(assets/img/josh.jpg);
}

#leo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/img/leo.jpg);
}

#leo:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/img/leo.jpg);
}

#potus {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/img/potus.jpg);
}

#potus:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/img/potus.jpg);
}

#sam {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/img/sam.jpg);
}

#sam:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(assets/img/sam.jpg);
}

#toby {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/img/toby.jpg);
}

#toby:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/img/toby.jpg);
}

.bottom-of-card {
  padding: 15px;
  background-color: #e2e2e2;
}

.job {
  font-size: 67%;
  color: #52627c;
}

h2,
h4,
p,
a {
  font-family: "Open Sans", sans-serif;
}

.quote {
  text-transform: uppercase;
  font-size: 70%;
}

.rating-num,
.cookies-num {
  font-size: 30px;
  line-height: 1;
  margin: 0;
}

.cookies {
  text-transform: uppercase;
  margin-bottom: 6px;
  font-size: 70%;
}

.cookies-num {
  color: #BF322C;
  padding-bottom: 10px;
}

.rating {
  display: inline-block;
  margin-bottom: 6px;
  text-transform: uppercase;
  color: #fff;
  font-size: 70%;
}

.rating-num {
  color: #fff;
}

h3 {
  margin: 0;
  font-size: 125%;
  font-family: "Lora";
}

h4 {
  margin: 0;
  font-size: 80%;
  margin-top: 4px;
  letter-spacing: 0.6px;
}

.link-div {
  height: 60px;
  width: 98.5%;
  background-color: #d1d1d1;
  margin: 15px 0 15px 0;
  padding: 6px;
}

a {
  font-family: "Open Sans";
  font-size: 80%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #3c485b;
}

.quote-text {
  margin: 6px 0 20px 0;
}

/*FOOTER*/
footer {
  height: 85px;
  background-color: #202446;
}

.social-media {
  display: flex;
  justify-content: center;
  /*align-content: center;*/
  /*align-items: center;*/
}

.twitter,
.twitter:hover,
.google-plus,
.google-plus-hover,
.facebook,
.facebook:hover {
  background-size: cover;
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
  display: inline-block;
  margin: 20px 15px 10px 15px;
}

.twitter {
  background-image: url(assets/icons/twitter-icon.svg);
}

.twitter:hover {
  background-image: url(assets/icons/twitter-hover.svg);
}

.google-plus {
  background-image: url(assets/icons/google-plus-icon.svg);
}

.google-plus:hover {
  background-image: url(assets/icons/google-plus-hover.svg);
}

.facebook {
  background-image: url(assets/icons/facebook-icon.svg);
}

.facebook:hover {
  background-image: url(assets/icons/facebook-hover.svg);
}
