* {
  line-height: 1;
  box-sizing: border-box;
}
/*NAV BAR*/
.nav-bar {
  height: 150px;
  display: flex;
  flex-direction: column;
  /*border: 1px solid #fff;*/
  background-color: #000633;
}

.top-nav {
  height: 75px;
  /*border: 1px solid #fff;*/
  width: 100%;
}

.profile-nav {
  /*border: 1px solid #fff;*/
  float: right;
  margin: 5px 5px 0 0 ;
  position: relative;
  width: 180px;
  height: 40px;
}

.profile-icon {
  position: absolute;
  top: 8px;
  height: 24px;
  width: auto;
  display: inline-block;
}

.user-name {
  position: absolute;
  left: 25px;
  display: inline-block;
  font-size: 80%;
  color: #6897D9;
}

.down-arrow {
  position: absolute;
  top: 13px;
  right: 25px;
  height: 16px;
  width: auto;
  display: inline-block;
}

.bottom-nav {
  height: 75px;
  /*border: 1px solid #fff;*/
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-icon {
  height: 36px;
  width: auto;
  display: inline-block;
}

.h1-container {
  display: flex;
  justify-content: space-between;
  height: 75px;
  width: 400px;
  /*border: 1px solid red;*/
}

h1 {
  font-family: "Cardo";
  font-weight: 400;
  display: inline-block;
  color: #E7E8FA;
}

.capitol-icon {
  height: 65px;
  width: auto;
  display: inline-block;
  margin-right: 30px;
}

li {
  display: inline-block;
  /*border: 1px solid #fff;*/
  width: 170px;
  text-transform: uppercase;
  position: relative;
  height: 40px;
}

.nav-icon {
  position: absolute;
  top: 3px;
  left: 3px;
}

.nav-icon-text {
  position: absolute;
  top: 3px;
  left: 45px;
  display: inline-block;
  /*font-size: 0%;*/
  color: #E7E8FA;
}

#walk-talk {
  margin-left: -30px;
}

/*BOTTOM CONTAINER*/
.bottom-container {
  background-color: grey;
}

.card-container {
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*CARD*/
.card {
  border: 1px solid black;
  display: inline-block;
  width: 23%;
  margin-top: 20px;
}

.top-of-card {
  background-color: red;
  height: 125px;
  display: flex;
  justify-content: space-between;
}

.magnifying-glass-icon {
  height: 42px;
  width: auto;
  margin: 10px 0 0 10px;
  display: inline-block;
}

.top-right-corner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70px;
  height: 70px;
  align-items: center;
}

#flotus {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/img/flotus.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#amy {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/img/amy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#charlie {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/img/charlie.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#cj {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/img/cj.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#donna {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/img/donna.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/*find a better pic*/
#flotus {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/img/flotus.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#josh {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/img/josh.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#leo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/img/leo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#potus {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/img/potus.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#sam {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/img/sam.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#toby {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/img/toby.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom-of-card {
  padding: 15px;
  background-color: #E7E8EB;
}

.job {
  font-size: 67%;
  color: #52627c;
}

h4,
p,
a {
  font-family: "Open Sans", sans-serif;
}

.quote {
  text-transform: uppercase;
  font-size: 70%;
}

.rating-num,
.cookies-num {
  font-size: 30px;
  line-height: 1;
  margin: 0;
}

.cookies {
  text-transform: uppercase;
  margin-bottom: 6px;
  font-size: 70%;
}

.cookies-num {
  color: #385275;
  padding-bottom: 10px;
}

.rating {
  display: inline-block;
  margin-bottom: 6px;
  text-transform: uppercase;
  color: #fff;
  font-size: 70%;
}

.rating-num {
  color: #fff;
}

h3 {
  margin: 0;
  font-size: 125%;
  font-family: "Cardo";
}

h4 {
  margin: 0;
  font-size: 80%;
  margin-top: 4px;
  letter-spacing: 0.6px;
}

.link-div {
  height: 54px;
  width: 98.5%;
  background-color: #d1d1d1;
  margin: 15px 0 15px 0;
  padding: 6px;
}

a {
  font-family: "Open Sans";
  font-size: 80%;
  /*text-overflow: ellipsis;*/
  text-decoration: none;
  color: #3c485b;
}

.quote-text {
  margin: 6px 0 20px 0;
}
